@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.welcome {
    display: flex;
    background-color: black;
    padding: 50px 20px;
    flex-flow: column;
    height: 120vh;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    // overflow-y: hidden;
    border: 5px sold red;


    @media (max-width: 991px) {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-flow: column;
    }

    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    .world {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 130px;
        padding-top: 20px;
        padding-bottom: 50px;

        @media (max-width: 991px) {
            padding-right: 0;
        }
    }

    .respo {
        opacity: 0;

        @media (max-width: 768px) {
            font-size: 14px;
            opacity: 1;
        }
    }

    h1 {
        color: white;
        font-weight: 600;
        font-size: 200px;
        line-height: 1;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;

        @media (max-width: 1024px) {
            font-size: 150px;
        }

        @media (max-width: 991px) {
            font-size: 100px;
        }

        @media (max-width: 768px) {
            font-size: 50px;
        }
    }

    p {
        color: rgb(88, 6, 6);
        font-weight: 600;
        font-size: 150px;
        line-height: 1;

        @media (max-width: 1024px) {
            font-size: 100px;
        }

        @media (max-width: 991px) {
            font-size: 100px;
            text-align: center;
        }

        @media (max-width: 768px) {
            font-size: 50px;
            text-align: center;
            width: 100%;
        }
    }

    details {
        color: white;
    }

    .down {
        border: 1px solid rgb(88, 6, 6);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        width: 200px;
        padding: 50px;
        border-radius:50%;
        gap: 10px;
        background-color: white;

        // @media (max-width: 991px) {
        //     display: none;
        // }

        p {
            font-size: 20px;
            width: 50px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
        }
    }
}
